/*font-family: 'Kanit', sans-serif;
font-family: 'Teko', sans-serif;  */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{

    background: #343A40;
    }
    header nav{
    
    width: 38%;
    
    margin: auto;
    }
    header nav ul{
        
    list-style: none;
        
    display: flex;
        
    justify-content: space-between;
        
    padding: 18px 0;
        
    text-transform: uppercase;
        
    font-size: 14px;
        
    align-items: center;
    }
    header nav ul li{
        font-family: 'Josefin Sans', sans-serif;
    }
    header nav ul li a{
        
    text-decoration: none;
        
    color: #fff;
    }
section{

display: flex;

justify-content: center;

/* align-items: center; */

background: #b0b0ff;

padding: 100px;

margin: auto;

height: 59vh;

background-image: url(../images/macos-big-sur-1920x1080-mountains-apple-october-2020-event-5k-23121.jpg);
}
.left_content{

width: 40%;

flex-wrap: wrap;

display: flex;

margin-right: 30px;

color: #fff;

font-family: 'Kanit', sans-serif;

height: 75%;
}
.left_content h1{
    
width: 63%;
    
text-transform: uppercase;
    
font-size: 39px;
}
.left_content p{text-transform: capitalize;font-size: 11px;font-weight: 600;}
.left_content h5{

width: 80%;

font-size: 16px;

margin: 4px 0px 3px 0px;
}
.right_content{

width: 25%;

background: #6DBD6D;

padding: 25px;

font-family: 'Teko', sans-serif;

align-items: center;
}
.right_content h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.right_content p{
    color: #fff;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.right_content form{

}
.right_content form input{

margin: 2px 0 6px 0;

padding: 9px 0px 9px 5px;

width: 100%;

text-transform: uppercase;
}
.right_content form input[type="submit"]{
    background: #529252;color: #fff;
}
.and{

font-size: 40px;

width: 25%;

color: #6DBD6D;
}
.and h1{
    
}
.left_content h2{

width: 100%;

font-size: 35px;

text-transform: uppercase;
}
.left_content input{

margin-top: 8px;

padding: 7px 0px 7px 10px;

text-align: center;

border-radius: 20px;

border: none;

background: #6DBD6D;

color: #fff;

font-size: 15px;

font-weight: 800;

text-transform: uppercase;

width: 35%;
}